---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Octubre 2024 - Abril 2025",
    title: "Redactor de IT",
    company: "Educa Edtech",
    description:
      "Redacción de contenidos sobre programación, Big Data e IA. Realización de cursos técnicos para ampliar conocimientos en IT.",
  },
{
    date: "Abril 2024 - Junio 2024",
    title: "Desarrollador Web",
    company: "Educa Edtech",
    description:
      "Realización de proyectos en HTML y JavaScript. Además, investigación y realización de un proyecto en MediaWiki.",
  },
  {
    date: "Marzo 2022 - Junio 2022",
    title: "Ingeniero y Mantenimiento de Sistemas",
    company: "Segurycam S.L",
    description:
      "Atención al Cliente, Reparación de Dispositivos e Instalación de Cámaras de Seguridad.",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
